
body{
    background-color:pink;
    font-size:100px; 
}
div.gif{
    width:60px;
    height: 60px;
    background: url('./25.gif');
    margin-bottom:10px;
    transition: all .5s;
    transform: rotate(130deg)
}
